/* searchBar.css */

/* Default styles */
.search-container {
  width: 90%; /* Adjust for smaller screens */
  max-width: 500px; /* Set a maximum width */
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: column; /* Adjust for smaller screens */
  align-items: center;
}

.search-input {
  width: 100%; /* Adjust for smaller screens */
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.search-button {
  width: 100%; /* Adjust for smaller screens */
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #303336;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

/* Additional styles for smaller screens */
.user-data-box {
  width: 90%; /* Adjust for smaller screens */
  max-width: 500px; /* Set a maximum width */
  margin-top: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column; /* Adjust for smaller screens */
  align-items: center; /* Adjust for smaller screens */
}



.user-details {
  text-align: center; /* Center text on smaller screens */
}

.gotorepo {
  background-color: rgb(69, 75, 90) ;
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}
.gotorepo:hover {
  background-color:  #1d1e1f;
}

.image-container {
  position: fixed;
  margin-right:5px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 40vw;
  max-width: 330px; /* Set a maximum width */
  z-index: 1; /* Ensure the image is on top of other elements */
}

.bottom-right-image {
  width: 100%;
  transform: translateX(45%); /* Center the image vertically */
}

/* Add a media query for larger screens */
@media screen and (min-width: 768px) {
  .search-container,
  .user-data-box,
  .image-container {
    width: auto; /* Reset width for larger screens */
    max-width: none; /* Reset max-width for larger screens */
  }
}
