/* userpage.css */

/* Default styles */
.userpage {
  background-color: #7092d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
  margin-left: 10px;
}

.navbar-userpage {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  
}

.github-icon {
  justify-content: flex-end;
  width: 80px; /* Adjust the width to your desired size */
  height: 80px; /* Adjust the height to your desired size */
  margin-right: 10px; /* Adjust margin for spacing on smaller screens */
}

.navbar-userpage h2 {
  font-size: 2rem;
  margin-right: 5px;
  margin-left: 15px;
  flex: 1;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
}

/* Link styles */
.LinkClass {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  display: block;
}

.LinkClass:hover {
  text-decoration: underline;
}
.left {
  margin: 10px;
}


/* Dropdown styles */
.dropdown {
  padding: 5px;
  height: 31px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 110px; /* Adjust width for smaller screens */
  margin-right: 10px; /* Adjust margin for spacing on smaller screens */
  margin-left:20px;
  color:black;
}

/* Search input styles */
.input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; /* Adjust width for smaller screens */
  font-size: 1rem;
  height: 20px;
  
}

/* Button styles */
.button {
  padding: 7px 16px; /* Adjust padding for smaller screens */
  font-size: 1rem;
  background-color:rgb(38, 38, 42);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}
.button:hover {
  background-color:rgb(65, 65, 69);
}

/* User avatar styles */
.user-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7); 
}

/* User info styles */
.user-info {
  margin-bottom: 10px; /* Adjust margin for spacing on smaller screens */
}
.header-repo {
  font-size: 1.8rem; /* Default font size */
}
/* Repository list styles */


.repositories li {
  margin-bottom: 5px; /* Adjust margin for spacing on smaller screens */
}

/* Repository link styles */
.repositories a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.repositories a:hover {
  color: #0056b3;
}



.body {
  display: grid;
  grid-template-columns: 1fr; /* Display one column on smaller screens */
  grid-gap: 16px;
  margin-left:20px;

  /* Media query for larger screens */
  @media screen and (min-width: 768px) {
    grid-template-columns: 3fr 7fr; /* 3/7 and 4/7 column layout on larger screens */
    margin: 0; /* Remove margin for larger screens */
    
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .left {
    margin: 10px; 
  }
  
}
