/* Responsive styles for .repos */
.repos {
  font-family: 'Roboto Mono', monospace;
}

.repos h2 {
  font-size: 1.5rem; /* Adjust font size for smaller screens */
  margin: 10px;
}

.repos ul {
  list-style: none;
  padding: 0;
  max-width: 600px; 
  margin: 0 auto;
}

.repos .username {
  font-weight: 500;
  color: aqua;
}

.repos li {
  background-color: #212121;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 1px;
}
.repos li > * {
  margin-bottom: 10px; /* Adjust the value as needed */
}
.repos li a {
  color: #3f9cff;
  text-decoration: none;
}

.repos li a:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .repos h2 {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

}
